<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Upload CSV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
        <div>Upload CSV</div>
        <form method="post" action="/process-csv" enctype="multipart/form-data">
            <input type="file" name="csv" />
            <input type="submit" />
        </form>
    </body>
</html>
